<%= render 'layouts/running-text' %>
<div class="container mt-3">
  <%= render 'layouts/navbar' %>
  <div class="banner"></div>
  <h3>All lists</h3>
  <% @lists.each do |list| %>
    <p><%= link_to list.name, list_path(list.id)  %></p>
  <% end %>
  <%= link_to "Create a list", new_list_path, class: "btn btn-primary"  %>
</div>
