<div class="container mt-3">
  <h1><%= @list.name %></h1>
  <h5>Bookmarks</h5>
  <ul>
    <% @bookmarks.each do |bookmark| %>
      <li><%= bookmark.comment %></li>
    <% end %>
  </ul>
  <%= link_to "Back to all lists", lists_path, class: "btn btn-primary" %>
</div>
