.navbar-lewagon {
  justify-content: space-between;
  margin: 0;
  padding: 16px 70px;
  background: #0D6DFD;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-brand:hover {
  color: black !important;
}
