<div class="d-flex justify-content-between mb-3">
  <div>
    <%= link_to 'MovieLists', lists_path, class: "navbar-brand" %>
  </div>
  <div>
    <%= link_to 'Add new list', new_list_path, class: "navbar-brand" %>
  </div>
</div>
