<div class="navbar-lewagon">
  <div class="d-flex justify-content-between">
    <div>
      <%= link_to 'MovieLists', root_path, class: "navbar-brand text-light", style: "text-shadow: 1px 1px 0px grey" %>
    </div>
    <div>
      <%= link_to 'Add new list', new_list_path, class: "navbar-brand btn btn-outline-light shadow-sm text-light" %>
    </div>
  </div>
</div>
