<a class="iso-marquee-linkwrap" href="https://isotropic.co/blog">
  <div class="iso-marquee--long iso-marquee" style="--tw:145ch; --ad:28s;">
    <span>Hiring a designer for this website  | Hiring a designer for this website  | Hiring a designer for this website  | Hiring a designer for this website  | Hiring a designer for this website  |</span>
  </div>
</a>
